{% extends "base.html" %}
{% load static %}

{% block title %}
СуперШкола
{% endblock %}

{% block body %}
    <div class="card mb-3 border-0 nth-shadow">
        <div class="card-body">
            <div class="card-title nth-card-title">
                <h4>Регистрация на сайте</h4>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-2">Зарегистрироваться</button>
                <a class="btn btn-secondary mt-2" href="/">Отмена</a>
            </form>
        </div>
    </div>
{% endblock %}