{% extends "base.html" %}
{% load static %}
{% block title %}
Направление
{% endblock %}
{% block body %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a class="btn btn-secondary" href="{% url 'mainapp:categorycourse_list' %}">Отменить</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}