{% extends "base.html" %}
{% load static %}

{% block title %}
Контакты
{% endblock %}

{% block body %}

<div class="text-center bg-body-tertiary rounded-3">
  <img src="{% static 'images/logo.png' %}" class="bi mt-4 mb-3" width="100" height="100">
  <h1 class="text-body-emphasis">Онлайн СуперШкола для всех!</h1>
  <p class="col-lg-8 mx-auto fs-5 text-muted">
    У нас вы найдете курсы на любой вкус
  </p>
  <p class="col-lg-8 mx-auto fs-5 text-muted">
    <i class="bi bi-envelope"></i> 667000, Республика Тыва, г.Кызыл, ул.Ленина, 100
  </p>
  <p class="col-lg-8 mx-auto fs-5 text-muted">
    <i class="bi bi-telephone"></i> +7-39422-12345
  </p>
  <div class="d-inline-flex gap-2 mb-5">
    <a class="btn btn-outline-primary btn-lg px-4 rounded-pill"
      href="{% url 'mainapp:categorycourse_list' %}">Направления</a>
    <a class="btn btn-outline-primary btn-lg px-4 rounded-pill" href="{% url 'mainapp:course_list' %}">Курсы</a>
  </div>
  
  {% if messagesend %}
  <h3>Ваш вопрос отправлен менеджеру.<br>Ответ будет отправлен на указанный Вами адрес электронной почты</h3>
  {% else %}
  <p>
  <div class="d-inline-flex gap-2 mb-5">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Отправить</button>
        <a class="btn btn-secondary" href="{% url 'mainapp:contacts' %}">Отменить</a>
      </div>
    </form>
  </div>
</p>
  {% endif %}
  
</div>


{% endblock %}