{% extends "base.html" %}
{% load static %}
{% block title %}
    Курсы
{% endblock %}

{% block body %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for course in course_list %}
          <div class="col">
            <div class="card h-100">
              <div class="card-header"><img src="{% static 'images/open-book.png' %}" width="30"> <b>{{course.name}}</b>
                {% if user.is_authenticated %}
                <div class="btn-group float-end" role="group" aria-label="">
                  <a class="btn btn-sm btn-primary" href="{% url 'mainapp:course_update' pk=course.pk %}"><i class="bi bi-pen"></i></a>
                  <a class="btn btn-sm btn-danger" href="{% url 'mainapp:course_delete' pk=course.pk %}"><i class="bi bi-trash"></i></a>
                </div>
                {% endif %}
              </div>
              <div class="card-body">
                <p class="card-text"><b>Направление:</b> {{course.category.name}}</p>
                <p class="card-text"><b>Описание курса:</b> {{course.description}}</p>
                <p class="card-text"><b>Преподаватели:</b> 
                    {% for teacher in course.teachers.all %}
                      {{ teacher.last_name }} {{ teacher.first_name }},
                    {% endfor %}
                </p>
              </div>
              <div class="card-footer" >
                <a class="d-inline-flex align-items-center btn btn-sm btn-primary btn-lg px-4 rounded-pill" href="#">Записаться</a>
                <a class="d-inline-flex align-items-center btn btn-sm btn-secondary btn-lg px-4 rounded-pill" href="{% url 'mainapp:course_detail' pk=course.pk %}">Подробнее</a>
              </div>
            </div>
          </div>
  {% endfor %}  
</div>
<div><hr>
  <a class="d-inline-flex align-items-center btn btn-sm btn-secondary px-3 rounded-pill" href="{% url 'mainapp:course_create' %}">Добавить курс</a>
  {% if not request.GET.categorycourse is None %}
    <a class="d-inline-flex align-items-center btn btn-sm btn-primary px-3 rounded-pill" href="{% url 'mainapp:course_list' %}">Все курсы</a>
  {% endif %}
</div>
{% endblock %}