{% extends "base.html" %}
{% load static %}
{% block title %}
    Уроки
{% endblock %}

{% block body %}

<div class="row row-cols-1 row-cols-md-2 g-4">
  {% for lesson in lesson_list %}
          <div class="col">
            <div class="card h-100">
              <div class="card-header">Хедер</div>
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{lesson.name}}</h5>
                <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к
                  дополнительному контенту. Этот контент немного длиннее.</p>
              </div>
            </div>
          </div>
  {% endfor %}  
</div>
{% endblock %}